.customSection {
    padding: 100px 0;    
}

.bg-ice {
    background: #e6e4e4;
}

.card_custom {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}

.img_51 {
    width: 130px;
    height: 131.406px;
    border: 5px solid rgb(244, 247, 249);
    border-radius: 50%;
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    text-align: center;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    vertical-align: middle;
}

.h5_custom {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    text-align: center;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 145px 12px;
    transform-origin: 145px 12px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: 600 20px / 24px Muli, sans-serif;
    margin: 0px 0px 8px;
    outline: rgb(51, 51, 51) none 0px;
}

.p_custom {
    box-sizing: border-box;
    color: rgb(136, 136, 136);
    text-align: center;
    text-decoration: none solid rgb(136, 136, 136);
    text-size-adjust: 100%;
    column-rule-color: rgb(136, 136, 136);
    perspective-origin: 145px 10.5px;
    transform-origin: 145px 10.5px;
    caret-color: rgb(136, 136, 136);
    border: 0px none rgb(136, 136, 136);
    font: 14px / 21px Muli, sans-serif;
    margin: 0px 0px 16px;
    outline: rgb(136, 136, 136) none 0px;
}

.p_custom1 {
    box-sizing: border-box;
    color: rgb(136, 136, 136);
    text-align: left;
    text-decoration: none solid rgb(136, 136, 136);
    text-size-adjust: 100%;
    column-rule-color: rgb(136, 136, 136);
    perspective-origin: 145px 10.5px;
    transform-origin: 145px 10.5px;
    caret-color: rgb(136, 136, 136);
    border: 0px none rgb(136, 136, 136);
    font: 14px / 21px Muli, sans-serif;
    margin: 0px 0px 16px;
    outline: rgb(136, 136, 136) none 0px;
}

.widget {
    background: #fff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    padding: 25px 30px 30px;
    margin-bottom: 30px;
    border-radius: 2px;
}

.widget-header {
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 10px;
    /* border-bottom: 1px solid #dedede; */
}

.btn-main {
    background: #5672f9;
    color: #fff;
    height: 50px;
    width: 204.016px;
} 