<section class="customSection bg-ice">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
        <div class="card mb-3 card_custom">
          <img src="https://technext.github.io/classimax/images/user/user-thumb.jpg" alt=""
              class="rounded-circle mx-auto d-block mt-2 img_51" />
              <div class="card-body">
                <h5 class="card-title h5_custom">test</h5>
                <p class="card-text p_custom">Joined test</p>
                <div class="text-center"> 
                  <button class="btn btn-danger"><i class="fas fa-exclamation-triangle"></i> Make a Complaint</button>                  
                </div>                
              </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
        <div class="widget">
          <!--<h3 class="widget-header">{{complaintDetails.subject.subjectText}}</h3>
          <h3 class="widget-header">{{complaintDetails.subjectIssue.subjectIssueText}}</h3>
           <p class="p_custom1">{{complaintDetails.company.companyName}}</p> -->
          <ul class="list-inline">
            <li class="list-inline-item mr-5">ID #{{complaintDetails.id}}</li>
            <li class="list-inline-item mr-5">{{complaintDetails.dateAndTime | date: 'dd/MM/yyyy HH:mm:ss'}}</li>
          </ul>
          <p style="font-size:17px;">{{complaintDetails.tellUs}}</p>
        </div>

        <div class="btn-toolbar">
          <div class="block d-flex mr-2">
            <!-- <button class="btn btn-main-success btn-block" (click)="approve(complaintDetails.id)" *ngIf="user.id === '2'">Approve</button> -->
          </div>
          <div class="block d-flex">
            <button class="btn btn-main btn-block" [routerLink]="['/userspage']">Back</button>
          </div>
        </div>

      </div>
    </div>
  </div>
  </section>
  