<section class="customSection bg-ice">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <form [formGroup]="frmSaveUserComplaint">
          <div class="widget">
            <h3 class="widget-header">Make your complaint</h3>
            <div class="form-group">
              <label for="username">Company Name</label>
              <div class="block d-flex">
                <div class="input-group">
                  <ng-autocomplete 
                    [data]="company" 
                    [searchKeyword]="keyword" 
                    historyIdentifier="company"
                    (selected)='selectEvent($event)'
                    (inputChanged)='getServerResponse($event)' 
                    (inputFocused)='onFocused($event)' 
                    [itemTemplate]="itemTemplate" 
                    (inputCleared)="searchCleared()"
                    [notFoundTemplate]="notFoundTemplate" 
                    [debounceTime]="600" 
                    [isLoading]="isLoadingResult" 
                    [minQueryLength]="2" 
                    placeHolder="Search for Companies' name">                  
                  </ng-autocomplete>
  
                  <ng-template #itemTemplate let-item>
                    <div class="item">
                      <img src="{{'data:image/jpg;base64,' + item.logo}}" height="50">
                      <span [innerHTML]="item.companyName"></span> &nbsp; | &nbsp;
                      <small>WebSite: {{item.webSiteAddress}}</small>
                    </div>                                          
                  </ng-template>
  
                  <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="errorMsg"></div>                      
                  </ng-template>		
                </div>
                						
                <!-- <div class="input-group">
                  <input class="form-control py-2 border-right-0 border" formControlName="companySearch" type="search" placeholder="Search" 
                  id="example-search-input" #searchInput />
                  <span class="input-group-append">
                    <button class="btn btn-outline-secondary border-left-0 border" type="button">
                      <i class="fa fa-search"></i>
                    </button>
                    </span>
                </div>  -->
                <!-- <div class="combobox-options" *ngIf="!company">
                  <list-item *ngFor="let item of company">{{item}}</list-item>
                </div> -->
                <!-- <ul class="filter-select">
                  <li *ngFor="let com of company" class="filter-select-list">
                    <img src="{{result.images['2']?.url}}" alt="" width="50" height="50"> 
                    <p class="artist-name"> {{com}} </p>                
                    <span class="tags" *ngFor='let genre of result?.genres  | slice:0:6'>{{genre}}</span>
                </ul> -->
              </div>     
              <!-- <ul class="list-group" *ngIf="company">
                <li class="list-group-item"
                    *ngFor="let item of company">
                    <p>{{item.companyName}}</p>                  
                </li>
              </ul>        -->
            </div>            
          </div>
          <div class="widget" *ngIf="errorMsg || company">
            <h3 class="widget-header">Company's Details</h3>
            <div class="form-group">
              <label for="name">Name </label>
              <input type="text" class="form-control" formControlName="companyName" [readonly]="company">
            </div>
            <div class="form-group">
              <label for="address">Address</label>
              <input type="text" class="form-control" formControlName="address" [readonly]="company">
            </div>
            <div class="form-group">
              <label for="website">WebSite</label>
              <input type="text" class="form-control" formControlName="websiteaddress" [readonly]="company">
            </div>
          </div>
        </form>
        <div class="block d-flex justify-content-center" *ngIf="errorMsg">
          <button class="btn btn-main btn-block" (click)="save()">SAVE</button>
        </div>
      </div>
    </div>
  </div>
</section>