.hero-area {
    padding: 100px 0 0;
}

.bg-1 {
     background: url(../../assets/img/hero.jpg);    
    background-size: cover;
    background-repeat: no-repeat;
}

.overly {
    position: relative;
}

.text-center {
    text-align: center!important;
}

.hero-area .content-block {
    padding-bottom: 80px;
}

.hero-area .content-block h1, .hero-area-2 .content-block h1 {
    color: #fff;
    font-size: 65px;
    font-weight: bold;
    letter-spacing: 0.05em;
    margin-bottom: 15px;
}

.hero-area .content-block p, .hero-area-2 .content-block p {
    color: #fff;
    font-size: 20px;
}

.short-popular-category-list h2 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}

.short-popular-category-list {
    margin-top: 40px;
}

 .list-inline {
    padding-left: 0;
    list-style: none;
}

.list-inline-item:not(:last-child) {
    margin-right: 5px;
}

.short-popular-category-list ul li {
    margin: 0 2px;
}

.short-popular-category-list ul li a {
    border: 1px solid #6d6969;
    color: #c1c1c1;
    font-weight: 200;
    padding: 4px 10px;
    font-size: 12px;
}

.short-popular-category-list ul li a i {
    margin-right: 2px;
}

a {
    transition: all .3s ease-in 0s;
    color: #000;
}

.list-inline-item {
    display: inline-block;
}

.hero-area .advance-search {
    background: #fff;
    padding: 40px 30px;
    border-radius: 3px;
    margin-bottom: -50px;
    box-shadow: -1px 3px 6px rgba(0, 0, 0, 0.12);
}

.hero-area .advance-search .form-control {
    color: #000;
    border-color: #dedede;
}

.form-control {
    border-radius: 2px;
    height: 50px;
    background-color: transparent;
    color: #666;
    box-shadow: none;
    font-size: 15px;
}

.hero-area .advance-search button {
    display: block;
}

.btn-main, .btn-main-sm {
    background: #5672f9;
    color: #fff;
    height: 50px;
} 

.btn-transparent {
    background: transparent;
    color: #5672f9;
    border: 1px solid #5672f9;
}

.ng-autocomplete {
    width: 100%;
  }