<section id="SECTION_44">
	<div id="DIV_45">
		<div id="DIV_46">
			<div id="DIV_47">
				<div id="DIV_48">
					<h1 id="H1_49">
            Buy &amp; Sell Near You
					</h1>
					<p id="P_50">
            Join the millions who buy and sell from each other<br id="BR_51" /> everyday in local communities around the world
					</p>
					<div id="DIV_52">
						<h2 id="H2_53">
              Popular Category
						</h2>
						<ul id="UL_54">
							<li id="LI_55">
								<a href="https://technext.github.io/classimax/index.html" id="A_56"> Hotel</a>
							</li>
							<li id="LI_58">
								<a href="https://technext.github.io/classimax/index.html" id="A_59"> Fitness</a>
							</li>
							<li id="LI_61">
								<a href="https://technext.github.io/classimax/index.html" id="A_62"> Cars</a>
							</li>
							<li id="LI_64">
								<a href="https://technext.github.io/classimax/index.html" id="A_65">Restaurants</a>
							</li>
							<li id="LI_67">
								<a href="https://technext.github.io/classimax/index.html" id="A_68">Cafe</a>
							</li>
						</ul>
					</div>
				</div>
				<!-- Advance Search -->

				<div id="DIV_70">
					<form action="https://technext.github.io/classimax/index.html#" id="FORM_71">
						<div id="DIV_72">
							<!-- Store Search -->

							<div id="DIV_73">
								<div id="DIV_74">
									<input type="text" id="INPUT_75" placeholder="Search for store" />
								</div>
							</div>
							<div id="DIV_76">
								<div id="DIV_77">
									<input type="text" id="INPUT_78" placeholder="Search for store" />
									<!-- Search Button -->

									<button id="BUTTON_79">
                    SEARCH
									</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>