<section id="SECTION_80">
  <div id="DIV_81">
    <div id="DIV_82">
      <div id="DIV_83">
        <div id="DIV_84">
          <h2 id="H2_85">
            Trending Ads
          </h2>
          <p id="P_86">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, magnam.
          </p>
        </div>
      </div>
    </div>    
    <div id="DIV_87">
      <!-- offer 01 -->

      <div id="DIV_88">
        <!-- product card -->

        <div id="DIV_89">
          <div id="DIV_90">
            <div id="DIV_91">
              <!-- <div class="price">$200</div> -->
              <a href="https://technext.github.io/classimax/index.html" id="A_92">
                <img src="https://technext.github.io/classimax/images/products/products-1.jpg" alt="Card image cap"
                  id="IMG_93" />
              </a>
            </div>
            <div id="DIV_94">
              <h4 id="H4_95">
                <a href="https://technext.github.io/classimax/index.html" id="A_96">11inch Macbook Air</a>
              </h4>
              <ul id="UL_97">
                <li id="LI_98">
                  <a href="https://technext.github.io/classimax/index.html" id="A_99">Electronics</a>
                </li>
                <li id="LI_101">
                  <a href="https://technext.github.io/classimax/index.html" id="A_102">26th December</a>
                </li>
              </ul>
              <p id="P_104">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, aliquam!
              </p>
              <div id="DIV_105">
                <ul id="UL_106">
                  <li id="LI_107">
                    <i class="fa fa-star"></i>
                  </li>
                  <li id="LI_109">
                    <i class="fa fa-star"></i>
                  </li>
                  <li id="LI_111">
                    <i class="fa fa-star"></i>
                  </li>
                  <li id="LI_113">
                    <i class="fa fa-star"></i>
                  </li>
                  <li id="LI_115">
                    <i class="fa fa-star-half"></i>   
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="DIV_117">
        <!-- product card -->

        <div id="DIV_118">
          <div id="DIV_119">
            <div id="DIV_120">
              <!-- <div class="price">$200</div> -->
              <a href="https://technext.github.io/classimax/index.html" id="A_121">
                <img src="https://technext.github.io/classimax/images/products/products-2.jpg" alt="Card image cap"
                  id="IMG_122" />
              </a>
            </div>
            <div id="DIV_123">
              <h4 id="H4_124">
                <a href="https://technext.github.io/classimax/index.html" id="A_125">Full Study Table Combo</a>
              </h4>
              <ul id="UL_126">
                <li id="LI_127">
                  <a href="https://technext.github.io/classimax/index.html" id="A_128">Furnitures</a>
                </li>
                <li id="LI_130">
                  <a href="https://technext.github.io/classimax/index.html" id="A_131">26th December</a>
                </li>
              </ul>
              <p id="P_133">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, aliquam!
              </p>
              <div id="DIV_134">
                <ul id="UL_135">
                  <li id="LI_136">
                    <i class="fa fa-star"></i>
                  </li>
                  <li id="LI_138">
                    <i class="fa fa-star"></i>
                  </li>
                  <li id="LI_140">
                    <i class="fa fa-star"></i>
                  </li>
                  <li id="LI_142">
                    <i class="fa fa-star"></i>
                  </li>
                  <li id="LI_144">
                    <i class="fa fa-star"></i>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>        
      <div id="DIV_146">
        <!-- product card -->

        <div id="DIV_147">
          <div id="DIV_148">
            <div id="DIV_149">
              <!-- <div class="price">$200</div> -->
              <a href="https://technext.github.io/classimax/index.html" id="A_150">
                <img src="https://technext.github.io/classimax/images/products/products-3.jpg" alt="Card image cap"
                  id="IMG_151" />
              </a>
            </div>
            <div id="DIV_152">
              <h4 id="H4_153">
                <a href="https://technext.github.io/classimax/index.html" id="A_154">11inch Macbook Air</a>
              </h4>
              <ul id="UL_155">
                <li id="LI_156">
                  <a href="https://technext.github.io/classimax/index.html" id="A_157">Electronics</a>
                </li>
                <li id="LI_159">
                  <a href="https://technext.github.io/classimax/index.html" id="A_160">26th December</a>
                </li>
              </ul>
              <p id="P_162">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, aliquam!
              </p>
              <div id="DIV_163">
                <ul id="UL_164">
                  <li id="LI_165">
                    <i class="fa fa-star"></i>
                  </li>
                  <li id="LI_167">
                    <i class="fa fa-star"></i>
                  </li>
                  <li id="LI_169">
                    <i class="fa fa-star"></i>
                  </li>
                  <li id="LI_171">
                    <i class="fa fa-star"></i>
                  </li>
                  <li id="LI_173">
                    <i class="fa fa-star-half"></i>    
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--========================================== = All Category Section = ===========================================-->
<section id="SECTION_175">
  <!-- Container Start -->

  <div id="DIV_176">
    <div id="DIV_177">
      <div id="DIV_178">
        <!-- Section title -->            

        <div id="DIV_179">
          <h2 id="H2_180">
            All Categories
          </h2>
          <p id="P_181">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, provident!
          </p>
        </div>
        <div id="DIV_182">
          <!-- Category list -->

          <div id="DIV_183">
            <div id="DIV_184">
              <div id="DIV_185">
                <i class="fa fa-desktop"></i>
                <h4 id="H4_187">
                  Electronics
                </h4>
              </div>
              <ul id="UL_188">
                <li id="LI_189">
                  <a href="https://technext.github.io/classimax/category.html" id="A_190">Laptops <span
                      id="SPAN_191">93</span>
                  </a>
                </li>
                <li id="LI_192">
                  <a href="https://technext.github.io/classimax/category.html" id="A_193">Iphone <span
                      id="SPAN_194">233</span>
                  </a>
                </li>
                <li id="LI_195">
                  <a href="https://technext.github.io/classimax/category.html" id="A_196">Microsoft <span
                      id="SPAN_197">183</span>
                  </a>
                </li>
                <li id="LI_198">
                  <a href="https://technext.github.io/classimax/category.html" id="A_199">Monitors <span
                      id="SPAN_200">343</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- /Category List -->       

          <!-- Category list -->

          <div id="DIV_201">
            <div id="DIV_202">
              <div id="DIV_203">
                <i class="fa fa-hamburger"></i>
                <h4 id="H4_205">
                  Restaurants
                </h4>
              </div>
              <ul id="UL_206">
                <li id="LI_207">
                  <a href="https://technext.github.io/classimax/category.html" id="A_208">Cafe <span
                      id="SPAN_209">393</span>
                  </a>
                </li>
                <li id="LI_210">
                  <a href="https://technext.github.io/classimax/category.html" id="A_211">Fast food <span
                      id="SPAN_212">23</span>
                  </a>
                </li>
                <li id="LI_213">
                  <a href="https://technext.github.io/classimax/category.html" id="A_214">Restaurants <span
                      id="SPAN_215">13</span>
                  </a>
                </li>
                <li id="LI_216">
                  <a href="https://technext.github.io/classimax/category.html" id="A_217">Food Track<span
                      id="SPAN_218">43</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- /Category List -->

          <!-- Category list -->

          <div id="DIV_219">
            <div id="DIV_220">
              <div id="DIV_221">
                <i class="fa fa-home"></i>
                <h4 id="H4_223">
                  Real Estate
                </h4>
              </div>
              <ul id="UL_224">
                <li id="LI_225">
                  <a href="https://technext.github.io/classimax/category.html" id="A_226">Farms <span
                      id="SPAN_227">93</span>
                  </a>
                </li>
                <li id="LI_228">
                  <a href="https://technext.github.io/classimax/category.html" id="A_229">Gym <span
                      id="SPAN_230">23</span>
                  </a>
                </li>
                <li id="LI_231">
                  <a href="https://technext.github.io/classimax/category.html" id="A_232">Hospitals <span
                      id="SPAN_233">83</span>       
                  </a>
                </li>
                <li id="LI_234">
                  <a href="https://technext.github.io/classimax/category.html" id="A_235">Parolurs <span
                      id="SPAN_236">33</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- /Category List -->

          <!-- Category list -->

          <div id="DIV_237">
            <div id="DIV_238">
              <div id="DIV_239">
                <i class="fa fa-shopping-cart"></i>
                <h4 id="H4_241">
                  Shoppings
                </h4>
              </div>
              <ul id="UL_242">
                <li id="LI_243">
                  <a href="https://technext.github.io/classimax/category.html" id="A_244">Mens Wears <span
                      id="SPAN_245">53</span>
                  </a>
                </li>
                <li id="LI_246">
                  <a href="https://technext.github.io/classimax/category.html" id="A_247">Accessories <span
                      id="SPAN_248">212</span>
                  </a>
                </li>
                <li id="LI_249">
                  <a href="https://technext.github.io/classimax/category.html" id="A_250">Kids Wears <span
                      id="SPAN_251">133</span>
                  </a>
                </li>
                <li id="LI_252">
                  <a href="https://technext.github.io/classimax/category.html" id="A_253">It &amp; Software <span
                      id="SPAN_254">143</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- /Category List -->

          <!-- Category list -->

          <div id="DIV_255">
            <div id="DIV_256">
              <div id="DIV_257">
                <i class="fa fa-user-md"></i>
                <h4 id="H4_259">
                  Jobs
                </h4>
              </div>
              <ul id="UL_260">
                <li id="LI_261">
                  <a href="https://technext.github.io/classimax/category.html" id="A_262">It Jobs <span
                      id="SPAN_263">93</span>
                  </a>
                </li>
                <li id="LI_264">
                  <a href="https://technext.github.io/classimax/category.html" id="A_265">Cleaning &amp; Washing <span
                      id="SPAN_266">233</span>
                  </a>
                </li>
                <li id="LI_267">
                  <a href="https://technext.github.io/classimax/category.html" id="A_268">Management <span
                      id="SPAN_269">183</span>
                  </a>
                </li>
                <li id="LI_270">
                  <a href="https://technext.github.io/classimax/category.html" id="A_271">Voluntary Works <span
                      id="SPAN_272">343</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- /Category List -->

          <!-- Category list -->

          <div id="DIV_273">
            <div id="DIV_274">
              <div id="DIV_275">
                <i class="fa fa-truck"></i>
                <h4 id="H4_277">
                  Vehicles
                </h4>
              </div>
              <ul id="UL_278">
                <li id="LI_279">
                  <a href="https://technext.github.io/classimax/category.html" id="A_280">Bus <span
                      id="SPAN_281">193</span>
                  </a>
                </li>
                <li id="LI_282">
                  <a href="https://technext.github.io/classimax/category.html" id="A_283">Cars <span
                      id="SPAN_284">23</span>
                  </a>
                </li>
                <li id="LI_285">
                  <a href="https://technext.github.io/classimax/category.html" id="A_286">Motobike <span
                      id="SPAN_287">33</span>
                  </a>
                </li>
                <li id="LI_288">
                  <a href="https://technext.github.io/classimax/category.html" id="A_289">Rent a car <span
                      id="SPAN_290">73</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- /Category List -->

          <!-- Category list -->

          <div id="DIV_291">
            <div id="DIV_292">
              <div id="DIV_293">
                <i class="fa fa-bone"></i>
                <h4 id="H4_295">
                  Pets
                </h4>
              </div>
              <ul id="UL_296">
                <li id="LI_297">
                  <a href="https://technext.github.io/classimax/category.html" id="A_298">Cats <span
                      id="SPAN_299">65</span>
                  </a>
                </li>
                <li id="LI_300">
                  <a href="https://technext.github.io/classimax/category.html" id="A_301">Dogs <span
                      id="SPAN_302">23</span>
                  </a>
                </li>
                <li id="LI_303">
                  <a href="https://technext.github.io/classimax/category.html" id="A_304">Birds <span
                      id="SPAN_305">113</span>
                  </a>
                </li>
                <li id="LI_306">
                  <a href="https://technext.github.io/classimax/category.html" id="A_307">Others <span
                      id="SPAN_308">43</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- /Category List -->

          <!-- Category list -->

          <div id="DIV_309">
            <div id="DIV_310">
              <div id="DIV_311">
                <i class="fa fa-building"></i>
                <h4 id="H4_313">
                  Services
                </h4>       
              </div>
              <ul id="UL_314">
                <li id="LI_315">
                  <a href="https://technext.github.io/classimax/category.html" id="A_316">Cleaning <span
                      id="SPAN_317">93</span>
                  </a>
                </li>
                <li id="LI_318">
                  <a href="https://technext.github.io/classimax/category.html" id="A_319">Car Washing <span
                      id="SPAN_320">233</span>
                  </a>
                </li>
                <li id="LI_321">
                  <a href="https://technext.github.io/classimax/category.html" id="A_322">Clothing <span
                      id="SPAN_323">183</span>
                  </a>
                </li>
                <li id="LI_324">
                  <a href="https://technext.github.io/classimax/category.html" id="A_325">Business <span
                      id="SPAN_326">343</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- /Category List -->

        </div>
      </div>
    </div>
  </div>
  <!-- Container End -->

</section>