<div class="container-fluid p-0" #stickyMenu [class.sticky]="sticky">
	<nav class="navbar navbar-icon-top navbar-expand-lg navbar-light bg-light navbar-fixed-top" role="navigation">
		<div class="container">
			<a class="navbar-brand" href="#">
				<img src="https://technext.github.io/classimax/images/logo.png" alt="" id="IMG_8" />
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="navbar-collapse collapse w-100 justify-content-center" id="navbarSupportedContent">
				<ul class="navbar-nav mx-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#">
							Home
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">
							Dashboard
						</a>
					</li>
					<!-- <li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Pages <span><i class="fa fa-angle-down"></i></span>
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a href="#" class="dropdown-item">Category</a>
							<a href="#" class="dropdown-item">Single Page</a>
							<a href="#" class="dropdown-item">Store Single</a>
							<a href="#" class="dropdown-item">Dashboard</a>
							<a href="#" class="dropdown-item">User Profile</a>
							<a href="#" class="dropdown-item">Submit Coupon</a>
							<a href="#" class="dropdown-item">Blog</a>
							<a href="#" class="dropdown-item">Single Post</a>
						</div>
					</li> -->
					<!-- <li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Listing <span><i class="fa fa-angle-down"></i></span>
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Something else here</a>
						</div>
					</li> -->
					<li class="nav-item">
						<button class="btn btn-danger" [routerLink]="['/usercomplaint']"><i class="fas fa-exclamation-triangle"></i> Make a Complaint</button>
					</li>
				</ul>
				<ul class="navbar-nav" *ngIf="!user_Authenticated()">
					<li class="nav-item">
						<button class="btn btn-outline-info" type="button" (click)="open()"><span><i class="fas fa-user"></i></span> Login</button>
					</li>
					<li class="nav-item">
						<button class="btn btn-outline-success" type="button" (click)="register()"><span><i class="fas fa-user-plus"></i></span> Register</button>
					</li>
				</ul>
				<ul class="navbar-nav ml-auto" *ngIf="user_Authenticated()">					
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" id="navbarDropdown" data-target=".navbar-collapse" data-toggle="navbarDropdown" aria-haspopup="true" aria-expanded="false">
							<!-- <img src="https://technext.github.io/classimax/images/user/user-thumb.jpg" alt=""
							class="rounded-circle img_navbar" /> {{user.name}} </a> -->
							<img *ngIf="!user.facebookImage" src="{{'data:image/jpg;base64,' + user.image}}" alt="" class="rounded-circle img_navbar" /> 
							<img *ngIf="user.facebookImage" src="{{user.image}}" alt="" class="rounded-circle img_navbar" />{{user.name}} </a>
						<div class="dropdown-menu dropdown-menu-right dropdown-cyan" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" [routerLink]="['/userspage']">My account</a>
							<a class="dropdown-item" (click)="logout()">Log out</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</div>