.navbar-light .navbar-nav .nav-link {
  color: black;
  }

  .navbar {
    box-sizing: border-box;   
    height: 88px;
  }  

  .sticky{
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 10;   
  }  

  .navbar .container ul li{
    color: rgb(33, 37, 41);
    font: 16px / 24px "Muli", sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-size-adjust: 100%;
    column-rule-color: rgb(33, 37, 41);
    caret-color: rgb(33, 37, 41);
    border: 0px none rgb(33, 37, 41);
    outline: rgb(33, 37, 41) none 0px;
  }

.navbar .container ul li > div{
  color: rgb(33, 37, 41);
  font: 16px / 24px "Muli", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  text-align: left;
  text-decoration: none solid rgb(33, 37, 41);
  text-size-adjust: 100%;
  column-rule-color: rgb(33, 37, 41);
  caret-color: rgb(33, 37, 41);
  outline: rgb(33, 37, 41) none 0px;
}

.dropdown-toggle:after {
  display: none;
}

.navbar-nav > li{
  padding-left:5px;
  padding-right:5px;
  text-align: center;
}

/*mouseover for nav-menu dropdown*/
.dropdown:hover > .dropdown-menu {
  display: block;
  transition-delay: 5s;
  margin-top: -1px;
}
.dropdown > .dropdown-toggle:active {
  pointer-events: none;
}
/*end mouseover for nav-menu dropdown*/
.btn-outline-info {
  border-radius: 30px;
  width: 120px;
}

.btn-outline-info:hover {
  -webkit-transition: all 0.4s linear; 
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
    will-change: all;
}

.btn-outline-success {
  border-radius: 30px;
  width: 120px;
}

.btn-outline-success:hover {
  -webkit-transition: all 0.4s linear; 
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
    will-change: all;
}

