<section id="SECTION_2">
	<div id="DIV_3">
		<div id="DIV_4">
			<div id="DIV_5">
				<nav id="NAV_6">
					<a href="#" id="A_7">
						<img src="https://technext.github.io/classimax/images/logo.png" alt="" id="IMG_8" />
					</a>
					<button type="button" id="BUTTON_9">w3
						<span id="SPAN_10"></span>
					</button>
					<div id="DIV_11">
						<ul class="nav nav-tabs" id="UL_12">
							<li id="LI_13">
								<a href="#" id="A_14">Home</a>
							</li>
							<li id="LI_15">
								<a href="#" id="A_16">Dashboard</a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
									aria-haspopup="true" aria-expanded="false" href="#" data-toggle="dropdown"
									aria-haspopup="true" aria-expanded="false" id="A_18">Pages<span><i
											class="fa fa-angle-down"></i></span></a>
								<!-- Dropdown list -->
								<div class="dropdown-menu">
									<a href="#" class="dropdown-item">Category</a>
									<a href="#" class="dropdown-item">Single Page</a>
									<a href="#" class="dropdown-item">Store Single</a>
									<a href="#" class="dropdown-item">Dashboard</a>
									<a href="#" class="dropdown-item">User Profile</a>
									<a href="#" class="dropdown-item">Submit Coupon</a>
									<a href="#" class="dropdown-item">Blog</a>
									<a href="#" class="dropdown-item">Single Post</a>
								</div>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
									aria-haspopup="true" aria-expanded="false" href="#" data-toggle="dropdown"
									aria-haspopup="true" aria-expanded="false" id="A_31">Listing<span><i
											class="fa fa-angle-down"></i></span></a>
								<!-- Dropdown list -->
								<div class="dropdown-menu">
									<a href="#" class="dropdown-item">Action</a>
									<a href="#" class="dropdown-item">Another
										action</a>
									<a href="#" class="dropdown-item">Something else
										here</a>
								</div>
							</li>
						</ul>
						<ul id="UL_38">
							<li id="LI_39">
								<a href="#" id="A_40" (click)="open()">Login</a>
							</li>
							<li id="LI_41">
								<a href="#" id="A_42">Add Listing</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</div>			
</section>