<section class="footer section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-7 offset-md-1 offset-lg-0">
        <div class="block about">
          <img src="https://technext.github.io/classimax/images/logo-footer.png" alt="" />
          <p class="alt-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>        
      </div>
      <div class="col-lg-2 offset-lg-1 col-md-3">
        <div class="block">
          <h4>Site Pages</h4>
          <ul>
            <li><a href="#">Boston</a></li>
            <li><a href="#">How It works</a></li>
            <li><a href="#">Deals &amp; Coupons</a></li>
            <li><a href="#">Articls &amp; Tips</a></li>
            <li><a href="#">Terms of Services</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 offset-md-1 offset-lg-0">
        <div class="block">
          <h4>Admin Pages</h4>
          <ul>
            <li><a href="#">Boston</a></li>
            <li><a href="#">How It works</a></li>
            <li><a href="#">Deals &amp; Coupons</a></li>
            <li><a href="#">Articls &amp; Tips</a></li>
            <li><a href="#">Terms of Services</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-7">
        <div class="block-2 app-promotion ml-2">
          <a href="">
            <img src="https://technext.github.io/classimax/images/footer/phone-icon.png" alt="mobile-icon" />
          </a>
          <p> Get the Dealsy Mobile App and Save more</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="footer-bottom">
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-6 col-12 center-block text-center mb-3">
      <div class="copyright">
        <p>Copyright © 2016. All Rights Reserved</p>
      </div>
    </div>
    <div class="col-sm-6 col-12 center-block text-center">
      <ul class="list-inline social-media-icons text-right">
          <li class="list-inline-item"><a class="fab fa-facebook-f" href=""></a></li>
          <li class="list-inline-item"><a class="fab fa-twitter" href=""></a></li>
          <li class="list-inline-item"><a class="fab fa-pinterest-p" href=""></a></li>
          <li class="list-inline-item"><a class="fab fa-vimeo" href=""></a></li>
        </ul>
    </div>
  </div>
</div>
</section>


<!-- <footer id="FOOTER_327">

  <div id="DIV_328">
    <div id="DIV_329">
      <div id="DIV_330">

        <div id="DIV_331">
          <img src="https://technext.github.io/classimax/images/logo-footer.png" alt="" id="IMG_332" />

          <p id="P_333">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.
          </p>
        </div>
      </div>

      <div id="DIV_334">
        <div id="DIV_335">
          <h4 id="H4_336">
            Site Pages
          </h4>
          <ul id="UL_337">
            <li id="LI_338">
              <a href="https://technext.github.io/classimax/index.html#" id="A_339">Boston</a>
            </li>
            <li id="LI_340">
              <a href="https://technext.github.io/classimax/index.html#" id="A_341">How It works</a>
            </li>
            <li id="LI_342">
              <a href="https://technext.github.io/classimax/index.html#" id="A_343">Deals &amp; Coupons</a>
            </li>
            <li id="LI_344">
              <a href="https://technext.github.io/classimax/index.html#" id="A_345">Articls &amp; Tips</a>
            </li>
            <li id="LI_346">
              <a href="https://technext.github.io/classimax/index.html#" id="A_347">Terms of Services</a>
            </li>
          </ul>
        </div>
      </div>

      <div id="DIV_348">
        <div id="DIV_349">
          <h4 id="H4_350">
            Admin Pages
          </h4>
          <ul id="UL_351">
            <li id="LI_352">
              <a href="https://technext.github.io/classimax/index.html#" id="A_353">Boston</a>
            </li>
            <li id="LI_354">
              <a href="https://technext.github.io/classimax/index.html#" id="A_355">How It works</a>
            </li>
            <li id="LI_356">
              <a href="https://technext.github.io/classimax/index.html#" id="A_357">Deals &amp; Coupons</a>
            </li>
            <li id="LI_358">
              <a href="https://technext.github.io/classimax/index.html#" id="A_359">Articls &amp; Tips</a>
            </li>
            <li id="LI_360">
              <a href="https://technext.github.io/classimax/index.html#" id="A_361">Terms of Services</a>
            </li>
          </ul>
        </div>
      </div>

      <div id="DIV_362">

        <div id="DIV_363">
          <a href="https://technext.github.io/classimax/index.html" id="A_364" ></a>
          <img src="https://technext.github.io/classimax/images/footer/phone-icon.png" alt="mobile-icon" id="IMG_365" />
          <p id="P_366">
            Get the Dealsy Mobile App and Save more
          </p>
        </div>
      </div>
    </div>
  </div>

</footer>

<footer id="FOOTER_367">

  <div id="DIV_368">
    <div id="DIV_369">
      <div id="DIV_370">

        <div id="DIV_371">
          <p id="P_372">
            Copyright © 2016. All Rights Reserved
          </p>
        </div>
      </div>
      <div id="DIV_373">

        <ul id="UL_374">
          <li id="LI_375">
            <a href="https://technext.github.io/classimax/index.html" id="A_376" ></a>
          </li>
          <li id="LI_377">
            <a href="https://technext.github.io/classimax/index.html" id="A_378" ></a>
          </li>
          <li id="LI_379">
            <a href="https://technext.github.io/classimax/index.html" id="A_380" ></a>
          </li>
          <li id="LI_381">
            <a href="https://technext.github.io/classimax/index.html" id="A_382" ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div id="DIV_383">
    <a id="A_384" href="https://technext.github.io/classimax/index.html"></a>
  </div>
</footer> -->