<ng-template #loginTemplate let-modal>
</ng-template>
<ng-container>
  <div class="modal-header pt-2 pb-2">
    <h3 id="H3_1436">
      Sign In <span id="SPAN_1437">City<strong id="STRONG_1438">Book</strong></span>
    </h3>
    <div id="DIV_1434">
      <i id="I_1435"><button type="button" class="close" aria-label="Close" (click)="close()"></button></i>
    </div>
  </div>
  <div class="modal-body">
    <div id="DIV_1439">
      <p id="P_1440">
        For faster login or register use your social account.
      </p> <a href="http://citybook.kwst.net/index.html#" id="A_1441"><i id="I_1442"></i>Log in with
        Facebook</a> <a href="http://citybook.kwst.net/index.html#" id="A_1443"><i id="I_1444"></i> Log in
        with Twitter</a>
    </div>
    <div id="DIV_1445">
      <span id="SPAN_1446">or</span>
    </div>
    <div id="DIV_1447">
      <ul id="UL_1448">
        <li id="LI_1451">
          <a href="" id="A_1452"><i class="fas fa-user-plus"></i> Register</a>
        </li>
      </ul>
      <form [formGroup]="registerform" id="FORM_1472">
        <label id="LABEL_1473">
          User Name *
        </label>
        <input formControlName="name" class="form-control" name="name" type="text" id="name" [ngClass]="{'is-invalid': registerform.get('name').errors, 'is-valid':registerform.get('name').valid}" />
        <div *ngIf="registerform.get('name').hasError('required') && registerform.get('name').touched"
            class="invalid-feedback mt-2">
            User Name is MANDATORY!
        </div>
        <label id="LABEL_1475">
          Nick Name *
        </label>
        <input formControlName="userName" class="form-control" name="name" type="text" id="userName" [ngClass]="{'is-invalid': registerform.get('userName').errors, 'is-valid':registerform.get('userName').valid}" />
        <div *ngIf="registerform.get('userName').hasError('required') && registerform.get('userName').touched"
            class="invalid-feedback mt-2">
            Nick Name is MANDATORY!
        </div>
        <label id="LABEL_1477">
          Email Address *
        </label>
        <input formControlName="email" class="form-control" type="text" id="email" [ngClass]="{'is-invalid': registerform.get('email').errors,
            'is-valid':registerform.get('email').valid}" />
        <div *ngIf="registerform.get('email').hasError('required') && registerform.get('email').touched"
            class="invalid-feedback mt-2">
            Email is MANDATORY!
        </div>
        <div class="invalid-feedback mt-2"
            *ngIf="registerform.get('email').hasError('email')">       
            Enter a valid email address!
        </div>
        <label id="LABEL_1479">
          Password *
        </label>
        <input formControlName="password" class="form-control" type="password" id="password"
              [ngClass]="{'is-invalid': registerform.get('password').errors,
              'is-valid':registerform.get('password').valid}" />
        <div *ngIf="registerform.get('password').hasError('required') 
              && registerform.get('password').touched" class="invalid-feedback mt-2">
            Password is MANDATORY!
        </div>
        <div class="invalid-feedback mt-2"
            *ngIf="registerform.get('password').hasError('hasNumber')">      
            The password must contain at least one number!
        </div>
        <div class="invalid-feedback mt-2"
            *ngIf="registerform.get('password').hasError('hasLetter')">      
            The password must contain at least one letter!
        </div>
        <div class="invalid-feedback mt-2"
            *ngIf="registerform.get('password').hasError('minlenght')">      
            The password must contain at least 6 characters!
        </div>
        <button type="submit" id="BUTTON_1481" (click)="register()">
          <span id="SPAN_1482">Register</span>
        </button>
      </form>

      <!-- <div id="DIV_1453">
        <div id="DIV_1469">
          <div id="DIV_1470">
            <div id="DIV_1471">
              <form method="post" name="registerform" id="FORM_1472">
                <label id="LABEL_1473">
                  First Name *
                </label>
                <input name="name" type="text" id="INPUT_1474" />
                <label id="LABEL_1475">
                  Second Name *
                </label>
                <input name="name2" type="text" id="INPUT_1476" />
                <label id="LABEL_1477">
                  Email Address *
                </label>
                <input name="email" type="text" id="INPUT_1478" />
                <label id="LABEL_1479">
                  Password *
                </label>
                <input name="password" type="password" id="INPUT_1480" />
                <button type="submit" id="BUTTON_1481">
                  <span id="SPAN_1482">Register</span>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="close()">Ok</button>
  </div>
</ng-container>